.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img {
  filter: grayscale(100%) contrast(1);
  align-content: space-around;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 70px;
  margin: 0 60px 0 60px;
}

.img-fit{
  height: available;

}

.centre{
  display: flex;
  justify-content: space-around;
  object-fit: contain;

}
.h1{
  font-weight: 400;
  display: flex;
  justify-content: center;
  color: dodgerblue;
  margin-bottom: 60px;
}

.h3{
  font-weight: 400;
  display: flex;
  justify-content: center;
  color: dodgerblue;
  font-size: 200%;
}

.h4{
  font-weight: 300;
}

.img-border{
  border-radius: 25% 0% 40%;
  display: flex;
  justify-content: space-around;
  padding: 15px 20px 15px 20px;
  width: 100%;
  height: 100%;
}

.img-border-div{
  width: 350px;
  height: 450px
}

.body-text{
  padding: 15px 20px 15px 20px;
  width: 50%;
}

.body{
  display: flex;
  width: available;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 50px;
  margin: 0 30px 0 30px;
}

.body-text-div{
  padding: 25px 20px 15px 20px;
}

.button{
  background: dodgerblue;
  color: white;
  width: 100px;
  height: 30px;
  font-weight: 500;
  padding-right: 7px;
}
.button-round{
  width:60px;
  height: 60px;
  font-size: x-large;
  border-radius: 50%;

}

.button-div{
  float: right;
  width: 70px
}

.msg-button{
  margin-bottom: 30px;
  width: 70px;
  float: right;
}

.link{
  color: white;
  text-underline: none;
  text-decoration: none;
  padding-right: 7px;
  padding-left: 7px;
 }

.chatBox{
  background: dodgerblue;
}